# See https://help.github.com/articles/ignoring-files/ 
# for more about ignoring files.

# dependencies
/node_modules
/react-ui/node_modules
/.pnp
.pnp.js



# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# Other:
/package-lock.json
/react-ui/package-lock.json
/yarn.lock
/package-lock.json
/react-ui/yarn.lock
/react-ui/package-lock.json
