#homecard {
  margin: 0;
  position: absolute;
  left: 26%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-60%, 40%);
  width: 400px;
  padding: 10px;
  background-color: #b4b7bb;
}

#EndL {
  padding-left: 146px;
  margin-top: 10px;
}
#addParkEnd {
  width: 157px;
  margin-left: 20px;
}
#addParkStart {
  width: 157px;
}

h4 {
  padding: 20px;
}

#btn {
  margin-top: 20px;
  margin-left: 177px;
  width: 157px;
}
#StartL {
  margin-top: 10px;
}

#End {
  width: 157px;
  margin-left: 20px;
}
#Start {
  width: 157px;
}

.timepicker1{
  background-color: #01677b;
  margin-bottom: 20px;
  margin-right: 15px;
}

.timepicker2{
  background-color: #01677b;
  margin-bottom: 20px;
}

.clock{
  background-color: #01677b;
}

.react-time-picker__clock{
  background-color: #17acc0!important;
  border: thin solid #000000 !important;
}

.searchbtn{
  background-color: #b0b8b9;
}